{% extends "core/base-without-navbar.html" %}

{% block custom_styles %}
    .asteriskField {
        display: none;
    }

    form .alert ul li {
        list-style: none;
    }

    form .alert ul {
        padding: 0;
        margin: 0;
    }

    body {
        height: 80vh;
    }

    .container {
        height: 100%;
    }

    .card-body {
        padding: 2rem;
        background-color: #f8f9fa;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }
{% endblock %}

{% block _content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card" style="width: 600px; margin: auto;">
                    <div class="card-body">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
