{% extends "core/auth/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h2 style="text-align: center">Log in</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">Log in</button>
            <br><br>
            <a href="{% url 'register' %}">Do not have account? Register</a>
        </div>
    </form>
{% endblock %}
