{% extends 'core/auth/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2 style="text-align: center">Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">Register</button>
            <br><br>
            <a href="{% url 'login' %}">Have an account? Log in</a>
        </div>
    </form>
{% endblock %}
