{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block _content %}
<div class="container">
    <h2 style="text-align: center">Edit profile</h2>
    <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div style="text-align: center">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
{% endblock %}
