{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Search Roommates{% endblock %}

{% block _content %}
    <div class="container">
      <h2 style="text-align: center">Search roommates</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
{% endblock %}
