{% extends "core/base.html" %}

{% block title %}Search results{% endblock %}

{% block custom_styles %}
    .title {
        text-align: center;
        margin-bottom: 40px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .profile-img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
    }

    .avatar {
        border-radius: 50% !important;
        width: 100% !important;
        height: 100% !important;
    }

    .contact {
        margin-bottom: 5px;
        font-size: 1.1rem;
    }

    .elements {
        padding: 0;
        overflow-x: scroll;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        padding: 10px;
    }

    .elements::-webkit-scrollbar {
        display: none;
    }

    .elements li {
        border: 1px solid #959595;
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        display: inline-block;
        white-space: nowrap;
    }
{% endblock %}

{% block _content %}
<div class="container">
    <h1 class="title">
        {% if title %}
            {{title}}
        {% else %}
            Search Results
        {% endif %}
    </h1>
    {% if profiles %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for profile in profiles %}
                <div class="col">
                    <div class="card">
                        <div class="profile-img">
                            {% if profile.avatar %}
                                <img
                                    src="/media/{{ profile.avatar }}"
                                    class="img-fluid card-img-top avatar"
                                    alt="{{ profile.first_name }} {{ profile.last_name }}"
                                >
                            {% else %}
                                <div>No photo</div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                            {% if show_contacts %}
                                <p class="contact">Contact: </p>
                                <p class="contact">{{ profile.contact }}</p>
                            {% endif %}
                            <ul class="elements">
                                {% for char in profile.characteristics %}
                                <li>{{char}}</li>
                                {% endfor %}
                            </ul>
                            {% if not show_contacts %}
                                <button
                                    id="like-{{profile.id}}"
                                    type="button"
                                    class="btn btn-primary"
                                    onclick="likeProfile({{ profile.id }})"
                                    {% if profile.liked %}disabled{% endif %}
                                >
                                    {% if profile.liked %}
                                    Liked
                                    {% else %}
                                    Like
                                    {% endif %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}

{% block _script %}
<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function likeProfile(profileId) {
        const url = '/favorite/like_profile';
        const data = {
            action: "add",
            profile_id: profileId,
        };
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie("csrftoken")
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.ok) {
                btn = document.querySelector(`#like-${profileId}`);
                btn.textContent = "Liked";
                btn.disabled = true;
            } else {
                alert('There was an error liking the profile.');
            }
        })
        .catch(error => {
            alert('There was a network error.');
        });
    }
</script>
{% endblock %}
