{% extends "core/base.html" %}

{% block title %}Profile{% endblock %}

{% block custom_styles %}
    .outer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        max-width: 60%;
    }

    .profile-img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-name {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .profile-list {
        margin-bottom: 30px;
    }

    .profile-list h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .profile-list ul li {
        border: 1px solid #959595;
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        display: inline-block;
    }

    .profile-btns {
        display: flex;
    }

    .profile-btn-edit,
    .profile-btn-delete {
        width: 120px;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 30px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        margin: 0 10px;
        cursor: pointer;
    }

    .profile-btn-edit {
        background-color: #007bff;
        color: #fff;
    }

    .profile-btn-edit:hover {
        background-color: #0062cc;
    }

    .profile-btn-delete {
        background-color: #ff001e;
        color: #fff;
    }

    .profile-btn-delete:hover {
        background-color: #ce0018;
    }

    #avatar {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    #elements {
        padding: 0;
    }
{% endblock %}

{% block _content %}
<div class="outer-container">
    <div class="profile-container">
        <div class="profile-img">
            {% if profile.avatar %}
            <img src="/media/{{ profile.avatar }}" id="avatar" class="img-fluid" alt="Avatar">
            {% else %}
            <div>No photo</div>
            {% endif %}
        </div>
        <div class="profile-name">
            {{ profile.first_name }} {{ profile.last_name }}
        </div>

        <div class="profile-list">
            {% if profile.characteristics|length > 0 %}
            <h3>Self Characteristics</h3>
            <ul id="elements">
                {% for char in profile.characteristics %}
                <li>{{char}}</li>
                {% endfor %}
            </ul>

            {% else %}
            <h3>No characteristics</h3>
            {% endif %}

            {% if profile.preferences|length > 0 %}
            <h3>Preferences</h3>
            <ul id="elements">
                {% for pref in profile.preferences %}
                <li>{{pref}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <h3>No preferences</h3>
            {% endif %}
        </div>

        <div class="profile-btns">
            <button type="button" class="profile-btn-edit"
                onclick="location.href='{% url 'edit_profile' %}'">Edit</button>
            <button type="button" class="profile-btn-delete"
                onclick="location.href='{% url 'delete_profile' %}'">Delete</button>
        </div>
    </div>
</div>

{% endblock %}
