{% extends "core/base.html" %}

{% block title %}Search results{% endblock %}

{% block _content %}
<div class="container">
    <h1 style="text-align: center">Favorites</h1>
    {% if profiles %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for profile in profiles %}
                <div class="col">
                    <div class="card">
                        {% if profile.avatar %}
                            <img src="{{ profile.avatar.url }}" class="card-img-top" alt="{{ profile.first_name }} {{ profile.last_name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No profiles</p>
    {% endif %}
</div>
{% endblock %}
