<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .navbar {
            background-color: #262626;
            padding: 0.5rem 1rem;
        }

        .navbar-brand {
            color: #FFFFFF;
            font-size: 24px;
            font-weight: bold;
        }

        .navbar-nav .nav-link {
            color: #FFFFFF;
            font-size: 18px;
            font-weight: normal;
            padding: 0.5rem 1rem;
            transition: all 0.3s ease-in-out;
        }

        .navbar-nav .nav-link:hover {
            color: #FFFF00;
        }

        .navbar-toggler {
            border: none;
            color: #FFFFFF;
            font-size: 28px;
            padding: 0;
        }

        .navbar-toggler:focus,
        .navbar-toggler:hover {
            outline: none;
            color: #FFFF00;
        }

        {% block custom_styles %}
        {% endblock %}
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://gitlab.com/ezio_99/roommate-finder">Roommate Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            ≡
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search_profiles' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'liked_profiles' %}">Liked Profiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'suggestions' %}">Suggestions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'matches' %}">Matches</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block _content %}
    {% endblock %}
</div>
</body>
{% block _script %}
{% endblock %}
</html>
