<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        {% block custom_styles %}
        {% endblock %}
    </style>
</head>
<body>
<div class="container">
    {% block _content %}
    {% endblock %}
</div>
</body>
{% block _script %}
{% endblock %}
</html>
